{% extends 'base.html' %}

{% load static i18n %}


{% block content %}
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area mb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{ url 'index' }">{% translate 'Home' %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% translate 'Blog details' %}</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

   <!-- blog wrapper start -->
   <div class="blog-area-wrapper pt-40 pb-70">
       <div class="container-fluid">
           <div class="row">
                <!-- <div class="col-lg-3">d -->
                    <!-- <div class="shop-sidebar-inner mb-30"> -->
                        <!-- categories filter start -->
                        <!-- <div class="single-sidebar mb-45">
                            <div class="sidebar-inner-title mb-25">
                                <h3>{% translate 'Categories' %}</h3>
                            </div>
                            <div class="sidebar-content-box">
                                <div class="filter-attribute-container">
                                    <ul>
                                        <li><a class="active" href="#">Categories 1 (05)</a></li>
                                        <li><a href="#">Categories 2 (03)</a></li>
                                        <li><a href="#">Categories 3 (10)</a></li>
                                        <li><a href="#">Categories 4 (02)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- categories filter end -->
                        <!-- categories filter start -->
                        <!-- <div class="single-sidebar mb-45">
                            <div class="sidebar-inner-title mb-25">
                                <h3>Recent post</h3>
                            </div>
                            <div class="sidebar-content-box">
                                <div class="filter-attribute-container">
                                    <ul>
                                        <li><a class="active" href="#">blog image post</a></li>
                                        <li><a href="#">Post with gallery</a></li>
                                        <li><a href="#">Post with Audio</a></li>
                                        <li><a href="#">Post with Video</a></li>
                                        <li><a href="#">Maecenas ultricies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- categories filter end -->
                        <!-- categories filter start -->
                        <!-- <div class="single-sidebar mb-45">
                            <div class="sidebar-inner-title mb-25">
                                <h3>Blog archives</h3>
                            </div>
                            <div class="sidebar-content-box">
                                <div class="filter-attribute-container">
                                    <ul>
                                        <li><a class="active" href="#">March 2019 (02)</a></li>
                                        <li><a href="#">December 2019 (01)</a></li>
                                        <li><a href="#">April 2019 (05)</a></li>
                                        <li><a href="#">September 2017 (02)</a></li>
                                        <li><a href="#">January 2019 (03)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- categories filter end -->
                        <!-- categories filter start -->
                        <!-- <div class="single-sidebar mb-45">
                            <div class="sidebar-inner-title mb-25">
                                <h3>Tag</h3>
                            </div>
                            <div class="sidebar-content-box">
                                <div class="blog-tag-line">
                                    <a href="#">fashion</a>
                                    <a href="#">cloath</a>
                                    <a href="#">camera</a>
                                    <a href="#">laptop</a>
                                    <a href="#">bag</a>
                                    <a href="#">watch</a>
                                </div>
                            </div>
                        </div> -->
                        <!-- categories filter end -->
                    <!-- </div> -->
                    <!-- sidebar promote picture start -->
                    
                    <!-- sidebar promote picture end -->
                <!-- </div> -->
               <div class="col-lg-9 order-first order-lg-last">
                   <div class="blog-wrapper-inner">
                        <div class="single-blogg-item mb-30">
                            <div class="blogg-thumb">
                                    <img src="{{ blog.cover_image.url }}" alt="">
                                </a>
                            </div>
                            <div class="blogg-content">
                                <span class="post-date">{{blog.created}}</span>
                                <h5>{{blog.title}}</h5>
                                <p class="blog-desc">{{blog.content}}</p>
                                <div class="blogg-meta mb-30 mt-30">
                                    / Tags:
                                    {% for tag in blog.tags.all %}
                                    <a href="#">{{ tag.title }}</a>
                                    {% endfor %}
                                </div>
                                <div class="blog-social-sharing mb-40">
                                    <h3>Share this post</h3>
                                    <ul class="mt-10">
                                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="blogg-author-info">
                                    
                                    <div class="author-info">
                                        <h3>about the author:<a href="#">{{ blog.author.name }}</a> </h3>
                                        <p>{{ blog.author.description }}</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="comments-area">
							<div class="comments-heading">
								<h3>{{comment_count}} comments</h3>
							</div>
							<div class="comments-list">
								<ul>
									{% for comment in comments %}									
									<!-- <li class="border border-success p-2 mb-2">
										<div class="comment">
											<p><strong>{{ comment.name }}</strong>:</p>
											<span> {{ comment.coments }}</span>
										</div>

									</li> -->
									<li class="threaded-comments">
										<div class="comments-details">
					
											<div class="comments-content-wrap">
												<span>
													<b>{{ comment.name }}</b>
													<span class="post-time">{{comment.created}}</span>
													
												</span>
												<p>{{ comment.coments }}</p>
											</div>
										</div>
									</li>
								{% endfor %}
								</ul>
							</div>
						</div>
                        <div class="blog-comment-area">
                            <div class="all-p-title">
                                <h3>Add comment</h3>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.errors %}
                                        <ul class="errorlist">
                                            {% for error in field.errors %}
                                                <li class="alert alert-danger">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                
                                    {% endif %}
                                </div>
                            {% endfor %}
                                <button class="custom-button" value="submit" type="submit">
                                    <span>Post Comment</span>
                                </button>
                            </form>
                        </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- blog wrapper end -->
   
   <!-- scroll to top -->
   <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div> <!-- /End Scroll to Top -->
{% endblock %}