{% extends 'base.html' %}

{% load static i18n %}
{% load mathfilters %}

{% block content%}

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area mb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- product details wrapper start -->
    <div class="product-details-main-wrapper pb-50">
        <div class="container-fluid">
            <div class="row">
                <div id="detail_color" class="col-lg-5">
                    <div class="product-large-slider mb-20">
                        <div class="pro-large-img">
                            <img alt="" src="{{ product.cover_image.url }}" class="simpleLens-big-image">
                            <div class="img-view">
                                <a class="img-popup" href="{{ product.pk }}"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pro-nav">
                        <div class="product-details-main-wrapper pb-50">
                            <div class="container-fluid">
                                <div class="row">
                                    <div id="detail_color" class="col-lg-5">
                                        <div class="product-large-slider mb-20">
                                            <div class="pro-large-img">
                                                <img alt="" src="{{ product.cover_image.url }}" class="simpleLens-big-image">
                                                <div class="img-view">
                                                    <a class="img-popup" href="{{ product.pk }}"><i class="fa fa-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro-nav">
                                            {% for image in images %}
                                            <div class="pro-nav-thumb" href="{{image.pk}}"><img src="{{image.image.url}}" alt="" /></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for image in images %}
                            <div class="pro-nav-thumb" href="{{image.pk}}"><img src="{{image.image.url}}" alt="" /></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="product-details-inner">
                        <div class="product-details-contentt">
                            <div class="pro-details-name mb-10">
                                <h3>{{ product.product.title }} {{product.color.name}}</h3>
                            </div>
                            <div class="price-box mb-15">
                                {% if product.product.sale %}
                                <span class="special-price" style="font-weight: 500; font-size:30px;">${{product.product.old_price}}</span>
                                {% else %}
                                <span class="special-price" style="font-weight: 500; font-size:30px;color: red;"><del style="margin-right:5px; color:rgba(47, 47, 47, 0.841)" >${{product.product.old_price}}</del>${{product.product.price}}</span>
                                {% endif %}
                            </div>
                            <div class="product-detail-sort-des pb-20">
                                <p style="font-size: medium; font-weight:400;">{{product.product.description}}</p>
                            </div>
                            <div class="pro-details-list pt-20">
                                <ul>
                                    <li><span>Browrands :</span><a href="#">{{product.product.manufacturer}}</a></li>
                                    {% if product.in_stock %}
                                    <li><span>Availability :</span>In Stock</li>
                                    {% else %}
                                    <li><span>Availability :</span>Sold Out</li>
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="product-availabily-option mt-15 mb-15">
                                <h3>Available Options</h3>
                                <div class="color-optionn">
                                    <h4><sup>*</sup>Color</h4>
                                    <ul>
                                        
                                        {% for color in colors %}
                                           <img id="{{color.color.id}}" class="color-filter-detail" width="50px;" src="{{color.color.image.url}}"  data-product = '{{color.product}}' data-version = '{{color.id}}' style="cursor: pointer;"  />
                                        {% endfor %} 
                                            
                                    </ul> 
                                </div>
                            </div>
                            <div class="pro-quantity-box mb-30">
                                <div class="input-content">
                                    <label for="qty">Quantity:</label>
                                    <input id="qty" class="input-text qty" type="text" title="Qty" value="1" maxlength="12" name="qty">
                                </div>
                                <div id = 'basket'>
                                    <button id = 'basket-detail' data-id={{product.pk}} class="button2 btn-cart"  title="" type="button">
                                        <span  data-id={{product.pk}}>Add to Cart</span>
                                    </button>

                                </div>
                            </div>
                            <div class="product-icon">
                                <ul class = 'd-flex'  id = 'wishlist'>
                                    <li class = 'wishlist' data-id = {{product.pk}}><i  data-id = {{product.pk}} class="fa fa-heart"></i></li>
                                </ul>
                            </div>
                            
                            <div class="pro-social-sharing">
                                <label>share :</label>
                                <ul>
                                    <li class="list-inline-item">
                                        <a href="facebook.com" class="bg-facebook" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                            <span>like 0</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="twitter.com" class="bg-twitter" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                            <span>tweet</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="google.com" class="bg-google" title="Google Plus">
                                            <i class="fa fa-google-plus"></i>
                                            <span>google +</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product details wrapper end -->

    <!-- product details reviews start -->
    
    <!--  Start related-product -->
    <div class="home-module-six mb-70">
        <div class="container-fluid">
            <div class="section-title">
                <h3>Related Products</h3>
            </div>
            <div class="pro-module-four-active owl-carousel owl-arrow-style">
                {% for rel in related %}
                <div class="product-module-four-item">
                    <div class="product-module-caption">
                        <div class="manufacture-com">
                            <p><a href="{% url 'product' %}">{{rel.title}}</a></p>
                        </div>
                        <div class="product-module-name">
                            <h4><a href="{ url 'product_detail' product.pk %}"></a></h4>
                        </div>
                        <div class="price-box-module">
                            <span class="regular-price"><span class="special-price">${{rel.price}}</span></span>
                            <span class="old-price"><del>${{rel.old_price}}</del></span>
                        </div>
                        <div>
                            <span>{{rel.description}}</span>
                        </div>
                    </div>
                    <div class="product-module-thumb">
                        <a href= "">
                            <img src="{{rel.product_version.first.cover_image.url}}" alt="">
                        </a>
                    </div>
                </div> <!-- end single item -->
                {% endfor%}
                
            </div>
        </div>
    </div>
    
    <!--  end related-product -->

   <!-- scroll to top -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div> <!-- /End Scroll to Top -->
    <script src="{% static '/assets/js/detail-filter.js' %}" defer></script>
    <script src="{% static '/assets/js/basket.js' %}" defer></script>
    


{% endblock %}