{% extends 'base.html' %}

{% load static i18n %}

{% block content %}

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area mb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

   <!-- shop page main wrapper start -->
   <div class="main-wrapper pt-35">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-3" style="margin-top: 95px;">
                    <div class="shop-sidebar-inner mb-30">
                         <!-- categories filter start -->
                         <div class="single-sidebar mb-45">
                             <div class="sidebar-inner-title mb-25">
                                 <h3>Categories</h3>
                             </div>
                             <div class="sidebar-content-box">
                                 <div class="filter-attribute-container">
                                     <ul>
                                        {% for category in categories%}
                                         <li class="category-filter" data-id="{{category.id}}" style="cursor: pointer;color: #fedc19;" >{{category}}</li>
                                         {% endfor %}
                                     </ul>
                                 </div>
                             </div>
                         </div>
                         <!-- categories filter end -->
                         <!-- categories filter start -->
                         <div class="single-sidebar mb-45">
                             <div class="sidebar-inner-title mb-25">
                                 <h3>Manufacturer</h3>
                             </div>
                             <div class="sidebar-content-box">
                                 <div class="filter-attribute-container">
                                     <ul>
                                        {% for manufacturer in manufacturers %}
                                         <li><a class="active" data-id="{{ manufacturer.id }}" style="cursor: pointer;color: #fedc19;" >{{ manufacturer }}</a></li>
                                         {% endfor %}
                                     </ul>
                                 </div>
                             </div>
                         </div>
                         <!-- categories filter end -->
                         <!-- categories filter start -->
                         <div class="single-sidebar mb-45">
                             <div class="sidebar-inner-title mb-25">
                                 <h3>Select by color</h3>
                             </div>
                             <div class="sidebar-content-box">
                                 <div class="filter-attribute-container">
                                    <ul id="color-list">
                                        {% for color in colors %}
                                            <li class="color-item">
                                                <a class="color-filter" data-id="{{color.id}}" style="cursor: pointer;color: #fedc19;">{{color}} </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <button id="show-more-colors">Daha Fazla</button>
                                    <button id="show-less-colors" style="display: none;">Daha Az</button>
                                    
                                 </div>
                             </div>
                         </div>
                    </div>
                     <!-- sidebar promote picture start -->
                     <div class="single-sidebar mb-30">
                         <div class="sidebar-thumb">
                             <a href="#"><img src="assets/img/banner/img-static-sidebar.jpg" alt=""></a>
                         </div>
                     </div>
                     <!-- sidebar promote picture end -->
               </div>
               <div class="col-lg-9 order-first order-lg-last">
                    <div class="product-shop-main-wrapper mb-50">
                        <div class="shop-baner-img mb-70">
                            <a href="#"><img src="assets/img/banner/category-image.jpg" alt=""></a>
                        </div>
                        <div class="shop-top-bar mb-30">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode">
                                            <a href="#" data-target="column_3"><span>3-col</span></a>
                                            <a class="active" href="#" data-target="grid"><span>4-col</span></a>
                                            <a href="#" data-target="list"><span>list</span></a>
                                        </div>
                                        
                                    </div>
                                </div>
                             
                            </div>
                            
                        </div>
                        
                        <div class="shop-product-wrap grid row" id="shop-product">   
                            {% for product in products %}
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="product-thumb">
                                        <a href="{% url 'product_detail' product.pk %}">
                                            <img src="{{ product.product_version.first.cover_image.url }}" class="pri-img" alt="">
                                        </a>
                                        <div class="box-label">
                                            {% if product.new %}
                                            <div class="label-product label_new">
                                                <span>new</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <div class="manufacture-product">
                                            <p><a href="{% url 'product_detail' product.pk %}">{{ product.manufacturer.name }}</a></p>
                                        </div>
                                        <div class="product-name">
                                            <h4><a href="{% url 'product_detail' product.pk %}">{{ product.title }}</a></h4>
                                        </div>
                                        
                                        <div class="price-box">
                                            {% if product.sale %}
                                                <span class="special-price">{{ product.price }}</span>
                                                <span class="old-price">{{ product.old_price }}</span>
                                            {% else %}
                                                <span class="special-price">{{ product.price }}</span>
                                            {% endif %}
                                        </div><br>
                                        <div class="product-icon">
                                            <ul class = 'd-flex'>
                                                <li class = 'wishlist' data-id = "{{product.product_version.first.pk}}"><i  data-id = "{{product.product_version.first.pk}} "class="fa fa-heart"></i></li>
                                                <li class="basket" style='cursor:pointer; margin-left: 10px' data-id = "{{product.product_version.first.pk}}"><i data-id = "{{product.product_version.first.pk}}"></i>Add to Cart</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>  
                            {% endfor %}                           
                        </div>
                        
                        </div>
                        <div class="paginatoin-area style-2 pt-35 pb-20">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="pagination-area">
                                        <p>Showing 1 to 9 of 9 (1 Pages)</p>
                                    </div>
                                </div>
                                <div class="shop-all-tab">
                                    <div class="two-part">
                                        
                                        {% if is_paginated %}
                                        <div class="row mt-5">
                                            <div class="col text-center">
                                                <div class="block-27">
                                                    <ul style="padding-left: 78%;">
                                                        {% if page_obj.has_previous %}
                                                            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                                        {% endif %}
                                                        {% for page in paginator.page_range %}
                                                            {% if page_obj.number == page %}
                                                            <li class="active"><span>{{ page }}</span></li>
                                                            {% else %}
                                                            <li><a href="?page={{page}}">{{page}}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if page_obj.has_next %}
                                                            <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                                                        {% endif %}
                                                    </ul>        
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                   
                                </div>
                            </div>
                        </div> 
                    </div>
               </div>
           </div>
       </div>
   </div>
   <!-- shop page main wrapper end -->

   <!-- scroll to top -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div> <!-- /End Scroll to Top -->
    <script src="{% static '/assets/js/filters.js' %}" defer></script>
    <script src="{% static '/assets/js/js.js' %}" defer></script>
    <!-- <script src="{% static '/assets/js/basket.js' %}"></script> -->
     
    {% endblock %}