{% extends 'base.html' %}

{% load static i18n %}
{% load mathfilters %}

{% block content%}

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area mb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- product details wrapper start -->
    <div class="product-details-main-wrapper pb-50">
        <div class="container-fluid">
            <div class="row">
                <div id="detail_color" class="col-lg-5">
                    <div class="product-large-slider mb-20">
                        <div class="pro-large-img">
                            <img alt="" src="{{ product.cover_image.url }}" class="simpleLens-big-image">
                            <div class="img-view">
                                <a class="img-popup" href="{{ product.pk }}"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pro-nav">
                        <div class="product-details-main-wrapper pb-50">
                            <div class="container-fluid">
                                <div class="row">
                                    <div id="detail_color" class="col-lg-5">
                                        {% for image in images %}
                                        <div class="product-large-slider mb-20">
                                            <div class="pro-large-img">
                                                <img alt="" src="{{ product.cover_image.url }}" class="simpleLens-big-image">
                                                <div class="img-view">
                                                    <a class="img-popup" href="{{ product.pk }}"><i class="fa fa-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="pro-nav">
                                            {% for image in images %}
                                            <div class="pro-nav-thumb" href="{{image.pk}}"><img src="{{image.image.url}}" alt="" /></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for image in images %}
                            <div class="pro-nav-thumb" href="{{image.pk}}"><img src="{{image.image.url}}" alt="" /></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="product-details-inner">
                        <div class="product-details-contentt">
                            <div class="pro-details-name mb-10">
                                <h3>{{ product.product.title }} {{product.color.name}}</h3>
                            </div>
                            <div class="pro-details-review mb-20">
                                <ul>
                                    <li>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </li>
                                    <li><a href="#">1 Reviews</a></li>
                                </ul>
                            </div>
                            <div class="price-box mb-15">
                                {% if product.product.sale %}
                                <span class="special-price" style="font-weight: 500; font-size:30px;">${{product.product.old_price}}</span>
                                {% else %}
                                <span class="special-price" style="font-weight: 500; font-size:30px;color: red;"><del style="margin-right:5px; color:rgba(47, 47, 47, 0.841)" >${{product.product.old_price}}</del>${{product.product.price}}</span>
                                {% endif %}
                            </div>
                            <div class="product-detail-sort-des pb-20">
                                <p style="font-size: medium; font-weight:400;">{{product.product.description}}</p>
                            </div>
                            <div class="pro-details-list pt-20">
                                <ul>
                                    <li><span>Browrands :</span><a href="#">{{product.product.manufacturer}}</a></li>
                                    {% if product.product.in_stock %}
                                    <li><span>Availability :</span>In Stock</li>
                                    {% else %}
                                    <li><span>Availability :</span>Sold Out</li>
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="product-availabily-option mt-15 mb-15">
                                <h3>Available Options</h3>
                                <div class="color-optionn">
                                    <h4><sup>*</sup>Color</h4>
                                    <ul>
                                        
                                        {% for color in colors %}
                                           <img id="{{color.color.id}}" class="color-filter-detail" width="50px;" src="{{color.color.image.url}}"  data-product = '{{color.product}}' data-version = '{{color.id}}' style="cursor: pointer;"  />
                                        {% endfor %} 
                                            
                                    </ul> 
                                </div>
                            </div>
                            <div class="pro-quantity-box mb-30">
                                <div class="input-content">
                                    <label for="qty">Quantity:</label>
                                    <input id="qty" class="input-text qty" type="text" title="Qty" value="1" maxlength="12" name="qty">
                                </div>
                                <div id = 'basket'>
                                    <button id = 'basket-detail' data-id={{product.pk}} class="button2 btn-cart"  title="" type="button">
                                        <span  data-id={{product.pk}}>Add to Cart</span>
                                    </button>

                                </div>
                            </div>
                            <div class="product-icon">
                                <ul class = 'd-flex'  id = 'wishlist'>
                                    <li class = 'wishlist' data-id = {{product.pk}}><i  data-id = {{product.pk}} class="fa fa-heart"></i></li>
                                </ul>
                            </div>
                            
                            <div class="pro-social-sharing">
                                <label>share :</label>
                                <ul>
                                    <li class="list-inline-item">
                                        <a href="facebook.com" class="bg-facebook" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                            <span>like 0</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="twitter.com" class="bg-twitter" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                            <span>tweet</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="google.com" class="bg-google" title="Google Plus">
                                            <i class="fa fa-google-plus"></i>
                                            <span>google +</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product details wrapper end -->

    <!-- product details reviews start -->
    
    <!--  Start related-product -->
    <div class="related-product-area mb-40">
        <div class="container-fluid">
            <div class="section-title">
                <h3><span>Related</span> product </h3>
            </div>
            <div class="flash-sale-active4 owl-carousel owl-arrow-style">
                <div class="product-item mb-30">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-1.jpg" class="pri-img" alt="">
                            <img src="assets/img/product/product-2.jpg" class="sec-img" alt="">
                        </a>
                        <div class="box-label">
                            <div class="label-product label_new">
                                <span>new</span>
                            </div>
                            <div class="label-product label_sale">
                                <span>-20%</span>
                            </div>
                        </div>
                        <div class="action-links">
                            
                            <a href="#" id="wishlist"  title="Wishlist"><i class="lnr lnr-heart"></i></a>
                            <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                            <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                    </div>
                    <div class="product-caption">
                        <div class="manufacture-product">
                            <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                        </div>
                        <div class="product-name">
                            <h4><a href="product-details.html">jony XB10 Portable Speaker</a></h4>
                        </div>
                        <div class="ratings">
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span><i class="lnr lnr-star"></i></span>
                        </div>
                        <div class="price-box">
                            <span class="regular-price"><span class="special-price">£65.00</span></span>
                            <span class="old-price"><del>£90.00</del></span>
                        </div>
                        <button class="btn-cart" type="button">add to cart</button>
                    </div>
                </div><!-- </div> end single item -->
                <div class="product-item mb-30">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-6.jpg" class="pri-img" alt="">
                            <img src="assets/img/product/product-8.jpg" class="sec-img" alt="">
                        </a>
                        <div class="box-label">
                            <div class="label-product label_new">
                                <span>new</span>
                            </div>
                            <div class="label-product label_sale">
                                <span>-20%</span>
                            </div>
                        </div>
                        <div class="action-links">
                            <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                            <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                            <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                    </div>
                    <div class="product-caption">
                        <div class="manufacture-product">
                            <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                        </div>
                        <div class="product-name">
                            <h4><a href="product-details.html">jony XB10 Portable Speaker</a></h4>
                        </div>
                        <div class="ratings">
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span><i class="lnr lnr-star"></i></span>
                        </div>
                        <div class="price-box">
                            <span class="regular-price"><span class="special-price">£65.00</span></span>
                            <span class="old-price"><del>£90.00</del></span>
                        </div>
                        <button class="btn-cart" type="button">add to cart</button>
                    </div>
                </div><!-- </div> end single item -->
                <div class="product-item mb-30">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-3.jpg" class="pri-img" alt="">
                            <img src="assets/img/product/product-4.jpg" class="sec-img" alt="">
                        </a>
                        <div class="box-label">
                            <div class="label-product label_new">
                                <span>new</span>
                            </div>
                            <div class="label-product label_sale">
                                <span>-20%</span>
                            </div>
                        </div>
                        <div class="action-links">
                            <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                            <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                            <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                    </div>
                    <div class="product-caption">
                        <div class="manufacture-product">
                            <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                        </div>
                        <div class="product-name">
                            <h4><a href="product-details.html">jony XB10 Portable Speaker</a></h4>
                        </div>
                        <div class="ratings">
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span><i class="lnr lnr-star"></i></span>
                        </div>
                        <div class="price-box">
                            <span class="regular-price"><span class="special-price">£65.00</span></span>
                            <span class="old-price"><del>£90.00</del></span>
                        </div>
                        <button class="btn-cart" type="button">add to cart</button>
                    </div>
                </div><!-- </div> end single item -->
                <div class="product-item mb-30">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-10.jpg" class="pri-img" alt="">
                            <img src="assets/img/product/product-12.jpg" class="sec-img" alt="">
                        </a>
                        <div class="box-label">
                            <div class="label-product label_new">
                                <span>new</span>
                            </div>
                            <div class="label-product label_sale">
                                <span>-20%</span>
                            </div>
                        </div>
                        <div class="action-links">
                            <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                            <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                            <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                    </div>
                    <div class="product-caption">
                        <div class="manufacture-product">
                            <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                        </div>
                        <div class="product-name">
                            <h4><a href="product-details.html">jony XB10 Portable Speaker</a></h4>
                        </div>
                        <div class="ratings">
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span><i class="lnr lnr-star"></i></span>
                        </div>
                        <div class="price-box">
                            <span class="regular-price"><span class="special-price">£65.00</span></span>
                            <span class="old-price"><del>£90.00</del></span>
                        </div>
                        <button class="btn-cart" type="button">add to cart</button>
                    </div>
                </div><!-- </div> end single item -->
                <div class="product-item mb-30">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-11.jpg" class="pri-img" alt="">
                            <img src="assets/img/product/product-14.jpg" class="sec-img" alt="">
                        </a>
                        <div class="box-label">
                            <div class="label-product label_new">
                                <span>new</span>
                            </div>
                            <div class="label-product label_sale">
                                <span>-20%</span>
                            </div>
                        </div>
                        <div class="action-links">
                            <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                            <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                            <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                    </div>
                    <div class="product-caption">
                        <div class="manufacture-product">
                            <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                        </div>
                        <div class="product-name">
                            <h4><a href="product-details.html">jony XB10 Portable Speaker</a></h4>
                        </div>
                        <div class="ratings">
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span><i class="lnr lnr-star"></i></span>
                        </div>
                        <div class="price-box">
                            <span class="regular-price"><span class="special-price">£65.00</span></span>
                            <span class="old-price"><del>£90.00</del></span>
                        </div>
                        <button class="btn-cart" type="button">add to cart</button>
                    </div>
                </div><!-- </div> end single item -->
                <div class="product-item mb-30">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-13.jpg" class="pri-img" alt="">
                            <img src="assets/img/product/product-12.jpg" class="sec-img" alt="">
                        </a>
                        <div class="box-label">
                            <div class="label-product label_new">
                                <span>new</span>
                            </div>
                            <div class="label-product label_sale">
                                <span>-20%</span>
                            </div>
                        </div>
                        <div class="action-links">
                            <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                            <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                            <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                    </div>
                    <div class="product-caption">
                        <div class="manufacture-product">
                            <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                        </div>
                        <div class="product-name">
                            <h4><a href="product-details.html">jony XB10 Portable Speaker</a></h4>
                        </div>
                        <div class="ratings">
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span class="yellow"><i class="lnr lnr-star"></i></span>
                            <span><i class="lnr lnr-star"></i></span>
                        </div>
                        <div class="price-box">
                            <span class="regular-price"><span class="special-price">£65.00</span></span>
                            <span class="old-price"><del>£90.00</del></span>
                        </div>
                        <button class="btn-cart" type="button">add to cart</button>
                    </div>
                </div><!-- </div> end single item -->
            </div>
        </div>
    </div> 
    <!--  end related-product -->

   <!-- scroll to top -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div> <!-- /End Scroll to Top -->
    <script src="{% static '/assets/js/detail-filter.js' %}" defer></script>
    <script src="{% static '/assets/js/basket.js' %}" defer></script>
    


{% endblock %}